@use 'common';

.tabcontent {
    display: none;
    article {
        @extend %list-item;
    }
}

.deleteComment {
    margin: common.$margin-link;
    a {
        @extend %button-color-1;
    }
}

.message {
    background-color: CadetBlue;
    padding: 1em;
    margin: 0.5em;
    width: 50%;
}