@use 'common';

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 10em;
    article {
        position: relative;
        max-height: 10em;
        background-color: SkyBlue;
        padding: 1em;
        margin: 0.5em;
        img {
            height: 60%;
        }
        span {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}